@media (max-width: 768px) {
  .side-bar {
    position: absolute;
    left: -18rem;
    width: 20rem;
    z-index: 9;
    width: 18rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .main-inner {
    -ms-grid-columns: 100% auto;
    grid-template-columns: 100% auto;
  }
  .main-inner.hide {
    -ms-grid-columns: 100% auto;
    grid-template-columns: 100% auto;
  }
  .main-inner.hide .side-bar {
    left: 0;
  }
  .header {
    height: 6rem;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header.active {
    height: 12rem;
    overflow: inherit;
  }
  .header .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    gap: 1rem;
  }
  .header-menu {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .header-dots {
    display: block !important;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    color: var(--text-alwyes-white);
    font-weight: 800;
    cursor: pointer;
  }
  .my-card-body {
    padding: 2rem;
  }
  .dataTables_length {
    width: 100%;
    margin: 1.5rem auto;
  }
  .content-area {
    height: inherit;
    overflow-y: auto;
  }
  .header-menu {
    margin-right: 0rem;
  }
  .alert {
    width: 95%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 59%;
  }
}
